body {
  
}
#wrapper {
  background-color: white;
  height: 75%;
  width: 90%;
  margin: auto;
}

/*Header*/
#top-header{
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  margin-left: 4px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.siteName{
  font-size: 30px;
}
a{
  text-decoration: none;
  color: black;
}
#tools{
  text-align: right;
  padding-right: 4px;
}

/*Navigation Bar*/
nav{
  overflow: hidden;
  background-color: #333;
}

nav ul{
  text-align: center;
}

nav li{
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

/*Welcome section*/
#title-welcome{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
#welcome-division{
  background-image: url(../images/vehicles/delorean.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#welcome{
  color: rgb(11, 242, 242);
  background-color: rgba(255, 255, 255, 0.686); 
  width: 160px;
}
#welcome h2{
  font-size: 20px;
}
.info-welcome{
  font-size: 15px;
}
button{
  background-image: url(../images/site/own_today.png);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 150px;
  height: 46px;
}

/*Second part of welcome section*/
#welcome-division-2{
  display: grid;
  grid-template-rows: 50% 50%;
  padding: 0px 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#contain1{
  grid-row: 2/2;
}
#upgrades{
  display: grid;
  grid-template-columns: auto auto;
} 
.items-upgrade{
  text-align: center;
  text-decoration: underline;
  color: blue;
}
.background-img{
  display: flex;
  justify-content: center;
  background-color: aqua;
  margin: 10px;
}
.item{
  width: 40px; 
} 
#item{
  width: 31px; 
} 
#item2{
  width: 40px;
}
#item3{
  width: 40px;
}

/* .review-text{
  list-style-type: circle;
} */

footer{
  padding: 0 20px;
}