<section>
    <% if (title) { %>
        <h1><%= title %></h1>
        <% } else {
          res.redirect('/')
        } %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>    
<div class="management">
    <p><a href="/inv/add-classification">Add New Classification</a></p>
    <p><a href="/inv/add-inventory">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add New Vehicle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
</div> 
<h2>Manage Inventory</h2>
<div class="select-space">
    <p>Choose a classification to see those inventory items.</p>
</div>
<%- classificationSelect  %>
<table id="inventoryDisplay" class="vehicle-table"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
</section>
<script src="../../js/inventory.js"></script>